{% extends template.self %}

{% block body %}

<script src="https://use.typekit.net/psm4xcw.js"></script>
<script>try{Typekit.load({async:false});}catch(e){}</script>

<div id = "menu_main_bar">
	<span class = "showNavigation" onclick="myFunction()">
		<span class = "icon icon-hamburger"></span>
	</span>
	<a class = "icon logo" href = "https://www.byzance.cz"></a>
	<ul class = "primary_navigation">
		<li><a href = "https://store.byzance.cz">STORE</a></li>
		<li class = "selected"><a href = "/">DOCS</a></li>
		<li><a href = "https://support.byzance.cz">SUPPORT</a></li>
		<li><a href = "https://forum.byzance.cz"  >FORUM</a></li>
		<li><a href = "https://portal.byzance.cz" >PORTAL</a></li>
		
	</ul>
</div>

<script type="text/javascript">	
	function myFunction() {
		if ($('.primary_navigation').css('display') == "none"){
			$('.primary_navigation').css("display", "block");
		}
		else{
			$('.primary_navigation').css("display", "none");
		}
	}
</script>

<div id = "documentation">
{{ super() }}
</div>

{% endblock %}